{% extends "base.html" %}
{% load js_filters %}
{% block extra_head %}
<style>
  button:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: #43458b;
  }
</style>
{% endblock extra_head %}

{% block content %}

  <main >

    <div class="container wow fadeIn">


      <h2 class="my-5 h2 text-center">Payment</h2>


      <div class="row">


        <div class="col-md-12 mb-4">


          <div class="card">

            {% if not PAYMENTS_ENABLED %}
              <div>
                <button id="paypal-button" class="btn btn-primary btn-lg btn-block">Pay with PayPal (Dev Mode)</button>
              </div>
            {% else %}
              <div id="paypal-button" class="text-center"></div>
              <script src="https://www.paypalobjects.com/api/checkout.js"></script>
            {% endif %}

            <script>
                const createPaymentUrl  = "{% url 'core:paypal-create' %}";
                const executePaymentUrl = "{% url 'core:paypal-execute' %}";
                const csrfToken = '{{ csrf_token }}';
                const paymentsEnabled = {{ PAYMENTS_ENABLED|js_bool }};

                if (paymentsEnabled === false) {
                  const paypalButton = document.getElementById('paypal-button');
                  paypalButton.onclick = function() {
                    fetch(createPaymentUrl, {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                      },
                      body: JSON.stringify({}),
                    })
                    .then(response => response.json())
                    .then(createData => {
                      const result = fetch(createData.approval_url, {
                        method: 'POST',
                        headers: {
                          'Content-Type': 'application/json',
                          'X-CSRFToken': csrfToken,
                        },
                        body: JSON.stringify({
                          paymentID: createData.paymentID,
                          payerID: 'DEV_PAYER',
                        })
                      });
                      return { result, createData }
                    })
                    .then(executeData => {
                      window.location.href = "{% url 'core:paypal-execute' %}?paymentID=" + executeData?.createData?.paymentID;
                    })
                  }
                }
                else 
                {
                  paypal.Button.render({

                      env: 'sandbox', // Or 'sandbox'

                      commit: true, // Show a 'Pay Now' button

                      payment: function() {
                          return paypal.request.post(createPaymentUrl, {}, {
                            headers: {
                              'X-CSRFToken': csrfToken
                            }
                          }).then(function(data) {
                              return data.paymentID;
                          });
                      },

                      onAuthorize: function(data) {
                          return paypal.request.post(executePaymentUrl, {
                              paymentID: data.paymentID,
                              payerID:   data.payerID
                          }).then(function(res) {

                              console.log(res.success)
                              // The payment is complete!
                              // You can now show a confirmation message to the customer
                          });
                      }

                  }, '#paypal-button');
                }
            </script>

          </div>

        </div>


        {% include "order_snippet.html" %}

      </div>

    </div>
  </main>


{% endblock content %}
